/* homepage sidebar styling */
.homepage-sidebar {
  width: 20%;
  padding: 40px 20px;
  height: 100vh;
  border-right: 1px solid lightgray;
}

/* homepage content  styling */
.homepage-container {
  display: flex;
}

.homepage-content {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-content-owner {
  width: 80%;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.homepage-content-horses {
  padding-top: 50px;
  width: 80%;
}

/* accordion content styling */
.horse-profile-col img {
  width: 100%;
  height: 100%;
}

.horse-profile-col .warning {
  background-color: red;
  color: white;
  width: 100px;
  font-size: 20px;
  margin-bottom: 20px;
}
